* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f0ece9;
}
header {
    display: flex;
}

h2 {
    color: grey;
}

header>div {
    text-align: center;
}
nav>div {
    text-align: center;
}

#title {
    width: 60%;
    height: 10px;
    line-height: 10px;
}

header hr {
    border: 2px solid #c3a080 ;
    width: 100%;
    display: inline-block;
}

.line {
    width: 30%;
    height: 60px;
    line-height: 60px;
}



#control1 {
    display: flex;
    text-align: left;
    padding: 10px 0;
}

input:hover {
    cursor: pointer;
}
input {
    color: white;
    border: 0;
}

#control1>input {
    width: 120px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 40px;
}
#control2>input {
    width: 120px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 40px;
}

#bu_one {
    background-color: #5cb85c;
}


#bu_two {
    background-color: #d9534f;
}
#bu_five {
    background-color: #5cb85c;
}


#bu_six {
    background-color: #d9534f;
}



tr {
    background-color: white;
    height: 40px;
}
td {
    height: 30px;
    text-align: center;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: small;
}

.grey_cell>td {
    background-color: #dadee1;
}

#control2 {
    padding: 10px 0;
    float: right;
}

.mini_mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 14px;
    background-color: rgba(0,0,0,.5);
    z-index: 10010;
    -webkit-box-align: center;
    align-items: center;
    visibility: hidden;
}

.mini_content_win {
    width: 549px;
    height: 449px;
    position: relative;
    top: 20%;
    left: 30%;
    background: #fff;
}

#mini_nav {
    height: 40px;
    background-color: #555555;
    text-align: left;
    color: white;
    text-align: left;
    font-size: large;
    font-weight: 500;
    padding-left: 15px;
    line-height: 40px;
}

.input_part {
    text-align: center;
    font-weight: 400;
}

.input_part input {
    border: 1px solid black;
}

.input_part>div>div {
    padding: 15px 0;
}

#control3 {
    float: right;
    padding-right: 10px;
}
#bu_three {
    width: 120px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 40px;
    color: black;
}

#bu_four {
    width: 120px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
    border-radius: 40px;
    background-color:#5cb85c;
    color: grey;
}


.text {
    color: red;
}
#one {
    font-weight: 560;
}