* {
    margin: 0;
    padding: 0;
}

html {
    font: "Microsoft Yahei" "\5b8b\4f53";
}

header>h1 {
    text-align: center;
    margin-bottom: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: small;
}
tr {
    background-color: white;
    border: 1px solid black;
}

td {
    height: 30px;
    text-align: center;
    border: 1px solid black;
}
#one {
    width: 100px;
}

#two {
    width: 100px;
}

#three {
    width: 60px;
}

#four {
    width: 60px;
}

#five {
    width: 150px;
}

#six {
    width: 100px;
}


p {
    margin: 0 50px;
}

form {
    margin: 0 50px;
}



.single {
    display: inline-block;
    padding: 0px 5px;
}
.single1 {
    display: inline-block;
    padding: 0px 20px;
}

input {
    vertical-align: middle;
}
