* {
    margin: 0;
    padding: 0;
}

html {
    font-size: x-large;
}


div {
    text-align: center;
    border-bottom: 20px;
    color: gray;
    height: 100px;
    line-height: 100px;
}


header {
    background-color: black;
}

header>div {
    text-align: center;
    color: grey;
    padding: 30px 400px;
    font-size: x-large;

}


footer {
    background-color: black;
}

footer>div {
    text-align: center;
    color: grey;
    padding: 30px 400px;

}


.block {
    display: flex;
    width: 100%;
    height: 200px;
}

.block>div {
    background-color: black;
    padding: 40px 40px;
    margin-top: 5px;
}


.block>div:first-child {
    margin-right: 10px;
}

.item:first-child {
    width: 70%;
}

.item1:first-child {
    width: 30%;
}

#one {
    width: 30%;
}

#two {
    width: 70%;
}